<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나도먹방! 유튜버맛집찾기</title>
    <!-- boot -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
      integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
      crossorigin="anonymous"
    ></script>
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/c44f54db1d.js"
      crossorigin="anonymous"
    ></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/menu2.css" />
    <!-- jq -->
    <script src="../static/js/jq.js"></script>
  </head>
  <body class="main">
    <div class="basketIcon shadow">
      <i class="fa-solid fa-bookmark"></i>
      <span id="num"></span>
    </div>
    <%-include("nav.ejs")%>
    <section class="sec1">
      <div class="titleArea">
        <h1>
          먹방 유튜버들은<br />
          도대체
          <span>어디서(where)</span>
          시켜<br />먹는거야?
        </h1>
      </div>
      <div class="search">
        <form class="d-flex" role="search" onsubmit="return false;">
          <input
            class="form-control me-2"
            type="search"
            placeholder="먹방유튜버 이름"
            aria-label="Search"
            id="searchInput"
          />
          <button class="btn btn-outline-danger" type="button" id="submit">
            Search
          </button>
        </form>
      </div>
    </section>
    <section class="sec2">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <h1 class="title">Creator</h1>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/youtuber1"
              ><img src="../static/img/creator1.jpeg" class="" alt="햇님" />
              <div class="article">
                <span>입짧은 햇님</span>
                <span>한 종류의 음식만은 많이 먹지 못하는 유튜버</span>
                <span>구독자 181만</span>
              </div>
            </a>
            <a href="/youtuber1"
              ><img src="../static/img/creator2.jpeg" class="" alt="쯔양" />
              <div class="article">
                <span>쯔양</span>
                <span>먹방계의 왕중의 왕(살이 안찌는 체질..부럽)</span>
                <span>구독자 681만</span>
              </div>
            </a>
            <a href="/youtuber1"
              ><img src="../static/img/creator3.jpeg" class="" alt="히밥" />
              <div class="article">
                <span>히밥</span>
                <span>먹는 속도가 빠른 음식 디펜스 유튜버</span>
                <span>구독자 134만</span>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="/youtuber1"
              ><img src="../static/img/creator4.jpeg" class="" alt="웅이" />
              <div class="article">
                <span>웅이</span>
                <span>먹방 남자 유튜버중 탑티어</span>
                <span>구독자 106만</span>
              </div>
            </a>
            <a href="/youtuber1"
              ><img src="../static/img/creator5.jpeg" class="" alt="여수언니" />
              <div class="article">
                <span>여수언니</span>
                <span>옆진언니 같지만 근육을 소유한 유튜버</span>
                <span>구독자 60만</span>
              </div>
            </a>
            <a href="/youtuber1"
              ><img src="../static/img/creator6.jpeg" class="" alt="문복희" />
              <div class="article">
                <span>문복희</span>
                <span>얼짱 먹방 유튜버</span>
                <span>구독자 814만</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- section3 -->
    <section class="sec3">
      <h1 class="title">최근 먹방</h1>
      <hr />
      <div class="listBox">
        <div class="d-flex">
          <a href="https://www.youtube.com/watch?v=KLWJCRMr-kg" target="_blank"
            ><img class="lazy" data-src="../static/img/media1.webp"
          /></a>
          <a href="https://www.youtube.com/watch?v=Lm9JRlYxFG4" target="_blank"
            ><img class="lazy" data-src="../static/img/media2.webp"
          /></a>
          <a href="https://www.youtube.com/watch?v=R8aq1ldy6EU" target="_blank"
            ><img class="lazy" data-src="../static/img/media3.webp"
          /></a>
        </div>
        <div class="d-flex">
          <a href="https://www.youtube.com/watch?v=G1zIFGb8Jw8" target="_blank"
            ><img class="lazy" data-src="../static/img/media4.webp"
          /></a>
          <a href="https://www.youtube.com/watch?v=bUcmjb5v8Xc" target="_blank"
            ><img class="lazy" data-src="../static/img/media5.webp"
          /></a>
          <a href="https://www.youtube.com/watch?v=SAaGfV8_sFI" target="_blank"
            ><img class="lazy" data-src="../static/img/media6.webp"
          /></a>
        </div>
      </div>
    </section>
    <!-- what food -->
    <!-- <%-include('whatFood.ejs')%> -->
    <div class="menu_2">
      <section class="whatSec2">
        <div class="foodCategory">
          <button type="button" id="western">
            <i class="fa-solid fa-pizza-slice"></i><span>양식</span>
          </button>
          <button type="button" id="desert">
            <i class="fa-solid fa-ice-cream"></i><span>디저트</span>
          </button>
          <button type="button" id="chicken">
            <i class="fa-solid fa-drumstick-bite"></i><span>치킨</span>
          </button>
          <button type="button" id="kor">
            <i class="fa-solid fa-bowl-food"></i><span>한식</span>
          </button>
          <button type="button" id="chi">
            <i class="fa-solid fa-bell-concierge"></i><span>중식</span>
          </button>
          <button type="button" id="jap">
            <i class="fa-solid fa-fish-fins"></i><span>일식</span>
          </button>
        </div>
      </section>
      <section class="whatSec3">
        <div class="cateTitle"></div>
        <a class="detail" href="/menu_2">자세히보기</a>
        <hr />
        <div class="ViewArea" >
          <div class="chicken row" style="display: none;">
            <%var chickenA = [
            { name: "문복희", store: "옛날통닭다리", menu: "대왕닭껍질튀김", tel: "02-123-2345", toLink: "https://youtu.be/P1uDXt3SzuU" },{ name: "HONG SOUND", store: "홈플러스", menu: "당당치킨", tel: "02-123-2345", toLink: "https://youtu.be/Z-VPLYGPFag" },{name: "희밥", store: "교촌, bbq 외 3", menu:"반반콤보, 황금올리브 외 3", tel: "02-123-2345", toLink: "https://youtu.be/8euEeTg9KaU"},{name: "가르마", store: "훌랄라치킨", menu:"참숯핫바베큐매운맛", tel: "02-123-2345", toLink: "https://youtu.be/ufA3zq3DoIE"}];%>
            <% for( var i = 0; i<chickenA.length; i++ ) { %>
            <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
              <button id="basketAdd" onclick="onAdd(this)"><i class="fa-solid fa-bookmark white"></i></button>
              <a href="<%=chickenA[i].toLink%>" target="_blank">
                <img
                  src="../static/img/foodCategory/chicken<%=i +1%>.webp"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <p class="card-text">
                  <%=chickenA[i].name%>
                </p>
                <p class="card-text">
                  <%=chickenA[i].store%>
                </p>
                <p class="card-text">
                  <%=chickenA[i].menu%>
                </p>
                <p class="card-text">
                  <%=chickenA[i].tel%>
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <div class="kor row"  style="display: none;">
            <%var korA = [
            { name: "히밥", store: "해와달", menu: "한정식", tel: "02-123-2345", toLink: "https://youtu.be/F6qagyEoTFU" },{ name: "웅이", store: "두레한식뷔페", menu: "뷔페1인", tel: "02-123-2345", toLink: "https://youtu.be/S0kBwflIe2E" },{name: "먹갱", store: "황금곱창", menu:"소곱창, 소대창", tel: "02-123-2345", toLink: "https://youtu.be/IwWzmGNMDVI"},{name: "햇님", store: "평화연남", menu:"낙곱새", tel: "02-123-2345", toLink: "https://youtu.be/AUKV2MgJpVs"},{name: "임슐랭", store: "오문창순대국밥", menu:"순대국밥", tel: "02-123-2345", toLink:"https://youtu.be/lI7lmP0QNsM"}];%>
            <% for( var i = 0; i<korA.length; i++ ) { %>
            <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
              <a href="<%=korA[i].toLink%>" target="_blank">
                <img
                  src="../static/img/foodCategory/kor<%=i +1%>.webp"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <p class="card-text">
                  <%=korA[i].name%>
                </p>
                <p class="card-text">
                  <%=korA[i].store%>
                </p>
                <p class="card-text">
                  <%=korA[i].menu%>
                </p>
                <p class="card-text">
                  <%=korA[i].tel%>
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <div class="wes row"  style="display: none;">
            <%var wesA = [
            { name: "상해기", store: "마잇다키친", menu: "무한리필코스A", tel: "02-123-2345", toLink:"https://youtu.be/u5rqP0kTfY4" },{ name: "문복희", store: "아웃백", menu: "스테이크, 코코넛쉬림프 등", tel: "02-123-2345" }];%>
            <% for( var i = 0; i<wesA.length; i++ ) { %>
            <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
              <a href="<%=wesA[i].toLink%>" target="_blank">
                <img
                  src="../static/img/foodCategory/wes<%=i +1%>.webp"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <p class="card-text">
                  <%=wesA[i].name%>
                </p>
                <p class="card-text">
                  <%=wesA[i].store%>
                </p>
                <p class="card-text">
                  <%=wesA[i].menu%>
                </p>
                <p class="card-text">
                  <%=wesA[i].tel%>
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <div class="des row"  style="display: none;">
            <%var desA = [
            { name: "시내", store: "편의점디저트", menu: "초콜릿우유아이스크림, 케이크 등", tel: "02-123-2345" }];%>
            <% for( var i = 0; i<desA.length; i++ ) { %>
            <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
              <img
                src="../static/img/foodCategory/des<%=i +1%>.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  <%=desA[i].name%>
                </p>
                <p class="card-text">
                  <%=desA[i].store%>
                </p>
                <p class="card-text">
                  <%=desA[i].menu%>
                </p>
                <p class="card-text">
                  <%=desA[i].tel%>
                </p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    <!-- footer -->
    <%-include("footer.ejs")%>
    <script>
      // var num = 1;
      var addColor=false;
      function onAdd(obj) { 
        // var test = $('#num').text(num);
        var addColorObj = obj.querySelector('i');

        // if(addColor){
        //   $(addColorObj).css("color","#fff");
        //   addColor=false;
        // } else{
        //   addColor = true;
        //   $(addColorObj).css("color","green");
        // }

        if($(addColorObj).hasClass('white')){
          $(addColorObj).addClass('green');
          $(addColorObj).removeClass('white');
        }else{
          $(addColorObj).addClass('white');
          $(addColorObj).removeClass('green');
        }
        
      }
    </script>
  </body>
</html>
