<section class="whatSec3">
  <div class="cateTitle"></div>
  <hr />
  <div class="ViewArea" >
    <div class="chicken row" style="display: none;">
      <%var chickenA = [
      { name: "문복희", store: "옛날통닭다리", menu: "대왕닭껍질튀김", tel: "02-123-2345", toLink: "https://youtu.be/P1uDXt3SzuU" },{ name: "HONG SOUND", store: "홈플러스", menu: "당당치킨", tel: "02-123-2345", toLink: "https://youtu.be/Z-VPLYGPFag" },{name: "희밥", store: "교촌, bbq 외 3", menu:"반반콤보, 황금올리브 외 3", tel: "02-123-2345", toLink: "https://youtu.be/8euEeTg9KaU"},{name: "가르마", store: "훌랄라치킨", menu:"참숯핫바베큐매운맛", tel: "02-123-2345", toLink: "https://youtu.be/ufA3zq3DoIE"}];%>
      <% for( var i = 0; i<chickenA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <!-- <button id="basketAdd" onclick="onAdd(this)"><i class="fa-solid fa-bookmark white"></i></button> -->
        <a href="<%=chickenA[i].toLink%>" target="_blank">
          <img
            src="../static/img/foodCategory/chicken<%=i +1%>.webp"
            class="card-img-top"
            alt="..."
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            <%=chickenA[i].name%>
          </p>
          <p class="card-text">
            <%=chickenA[i].store%>
          </p>
          <p class="card-text">
            <%=chickenA[i].menu%>
          </p>
          <p class="card-text">
            <%=chickenA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="kor row"  style="display: none;">
      <%var korA = [
      { name: "히밥", store: "해와달", menu: "한정식", tel: "02-123-2345", toLink: "https://youtu.be/F6qagyEoTFU" },{ name: "웅이", store: "두레한식뷔페", menu: "뷔페1인", tel: "02-123-2345", toLink: "https://youtu.be/S0kBwflIe2E" },{name: "먹갱", store: "황금곱창", menu:"소곱창, 소대창", tel: "02-123-2345", toLink: "https://youtu.be/IwWzmGNMDVI"},{name: "햇님", store: "평화연남", menu:"낙곱새", tel: "02-123-2345", toLink: "https://youtu.be/AUKV2MgJpVs"},{name: "임슐랭", store: "오문창순대국밥", menu:"순대국밥", tel: "02-123-2345", toLink:"https://youtu.be/lI7lmP0QNsM"}];%>
      <% for( var i = 0; i<korA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <a href="<%=korA[i].toLink%>" target="_blank">
          <img
            src="../static/img/foodCategory/kor<%=i +1%>.webp"
            class="card-img-top"
            alt="..."
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            <%=korA[i].name%>
          </p>
          <p class="card-text">
            <%=korA[i].store%>
          </p>
          <p class="card-text">
            <%=korA[i].menu%>
          </p>
          <p class="card-text">
            <%=korA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="western row"  style="display: none;">
      <%var wesA = [
      { name: "상해기", store: "마잇다키친", menu: "무한리필코스A", tel: "02-123-2345", toLink:"https://youtu.be/u5rqP0kTfY4" },{ name: "문복희", store: "아웃백", menu: "스테이크, 코코넛쉬림프 등", tel: "02-123-2345" }];%>
      <% for( var i = 0; i<wesA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <a href="<%=wesA[i].toLink%>" target="_blank">
          <img
            src="../static/img/foodCategory/wes<%=i +1%>.webp"
            class="card-img-top"
            alt="..."
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            <%=wesA[i].name%>
          </p>
          <p class="card-text">
            <%=wesA[i].store%>
          </p>
          <p class="card-text">
            <%=wesA[i].menu%>
          </p>
          <p class="card-text">
            <%=wesA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="desert row"  style="display: none;">
      <%var desA = [
      { name: "시내", store: "편의점디저트", menu: "초콜릿우유아이스크림, 케이크 등", tel: "02-123-2345" }];%>
      <% for( var i = 0; i<desA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <img
          src="../static/img/foodCategory/des<%=i +1%>.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <%=desA[i].name%>
          </p>
          <p class="card-text">
            <%=desA[i].store%>
          </p>
          <p class="card-text">
            <%=desA[i].menu%>
          </p>
          <p class="card-text">
            <%=desA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="chi row"  style="display: none;">
      <%var chineseA = [
      { name: "히밥", store: "동해반점", menu: "짜장면", tel: "02-123-2345" },{ name: "현주엽", store: "소락천", menu: "오향장육, 동파육, 팔보채", tel: "02-123-2345" }];%>
      <% for( var i = 0; i<chineseA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <img
          src="../static/img/foodCategory/chinese<%=i +1%>.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <%=chineseA[i].name%>
          </p>
          <p class="card-text">
            <%=chineseA[i].store%>
          </p>
          <p class="card-text">
            <%=chineseA[i].menu%>
          </p>
          <p class="card-text">
            <%=chineseA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="jap row"  style="display: none;">
      <%var japA = [
      { name: "문복희", store: "후지일식", menu: "나가사키짬뽕, 초밥", tel: "02-123-2345" }];%>
      <% for( var i = 0; i<japA.length; i++ ) { %>
      <div class="card col col-md-6 col-12 basketItem" style="width: 18rem">
        <img
          src="../static/img/foodCategory/jap<%=i +1%>.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <%=japA[i].name%>
          </p>
          <p class="card-text">
            <%=japA[i].store%>
          </p>
          <p class="card-text">
            <%=japA[i].menu%>
          </p>
          <p class="card-text">
            <%=japA[i].tel%>
          </p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>